# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.db
*.sqlite3
.env
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Node
node_modules/
dist/
dist-ssr/
*.local
.vite/

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
